{% extends "shared/_layout.html" %}
{% block main_content %}

    <div class="hero">
        <div class="hero-inner">
            <h1>Python Package Index</h1>

            <input type="text" placeholder=" Search projects" class="form-control">
            or <a href="#">Browse Projects</a>
        </div>
   </div>

    <div class="pypi-stats">
        <div class="stat">-1 Projects</div>
        <div class="stat">-1 Release</div>
        <div class="stat">-1 Users</div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6"></div>
                <h2>New Releases</h2>
                <span>Hot off the Press: the newest project releases</span>
            {% for p in packages %}
            <div class="project">
                <div class="title">
                    <a href="#">{{ p.name }}, {{ p.version }}</a>
                    <div class="desc">Some Description to follow...</div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}